/*

!/.gitignore
!LICENSE
!README*
!CMakeLists.txt
!*.cpp
!*.hpp

!/sdm
!/eigen*
!/SDM
!/Eigen


!/problem1/
/problem1/**
!/problem1/CMakeLists.txt
!/problem1/*.cpp
!/problem1/src
/problem1/src/**
!/problem1/src/*.cpp
!/problem1/src/*.hpp
!/problem1/src/*.h


!/problem2/
/problem2/**
!/problem2/CMakeLists.txt
!/problem2/*.cpp
!/problem2/lib
/problem2/lib/**
!/problem2/lib/*.cpp
!/problem2/lib/*.hpp
!/problem2/lib/*.h





